<h1>All Your Buying Criteria</h1>

<p>Your buying criteria [ruby block todo]</p>

<button>New Criteria</button>
<button>Edit List</button>
--
<button>My Account</button>
<button>New Property</button>
