<h1>Insert Your Buying Criteria</h1>
<!-- if no buying criteria, show instructions -->
<% if !@buying_criteria.current_user.any? %>
	<p>You may have unlimited quantities of buying criteria.</p>
	<p>You will be alerted with each new match.</p>
<% end %><!-- end only display instructions if no buying criteria -->

<!-- add new criteria -->
<%= render 'form' %>

<button>Save Criteria</button>
