<h1>Insert Your Buying Criteria</h1>

<p>You may have unlimited quantities of buying criteria.</p>
<p>You will be alerted with each new match.</p>

[form]
	i think i will have a bunch of required yes/no boxes by parameters


<button>Save Criteria</button>