<!-- the below displays the subtitle for the page title tag -->
<% content_for(:subtitle) do %>New Property<% end %>
<!-- end page specific subtitle area -->




<h1>New Property Listing</h1>

<%= render 'properties/form' %>
