<!-- the below displays the subtitle for the page title tag -->
<% content_for(:subtitle) do %>New Property<% end %>
<!-- end page specific subtitle area -->

<h1>New Property Listing</h1>

<p>form insert here</p>










    	t.string :address_unit
    	t.string :address_street
    	t.string :address_city
    	t.string :address_us_state
    	t.integer :address_us_zipcode
    	t.integer	:property_finished_sf
    	t.integer :property_land_sf
    	t.string :property_condition
    	t.string :deal_type
    	t.string :deal_urgency
    	t.integer :property_current_value
    	t.integer :property_estimated_arv
    	t.integer :property_renovations_needed
    	t.boolean :deal_repair_estimate
    	t.text :proeprty_description
    	t.text :deal_additional_details
    	t.boolean :off_market