<!-- the below displays the subtitle for the page title tag -->
<% content_for(:subtitle) do %>Property Details<% end %>
<!-- end page specific subtitle area -->

<h1>Property Details</h1>

<section class="property-all-info">

	<% @property do |p| %>

		<div id="property-deal-title">
			<%= p.deal_title %>
		</div>

		<section id="deal-details">
			deal details
		</section>

		<section id="property-address-details">
			<%= p.address_city %>
		</section>

		<section class="property-other-details">
			property other details
		</section>

	<% end %><!-- end .each property details ruby block -->

</section><!-- end .property-all-info -->



  



    t.boolean  "off_market"


    financial calculations
    estimated profit
    add property_features - text area