<div class="container">
	<h1>Send us your buying criteria</h1>
	<div>
		<!-- insert cute icon here	 -->
		<p>lorem input buying criteria to send email</p>
	</div>		
	<div class="text-right">
		<%= link_to 'Back to Home', root_path, class: "btn btn-default btn-md" %>
	</div><!-- end button -->
</div><!-- end .container -->

