<div class="container">
	<h1>Contact Us</h1>

	<p>todo form </p>
	<p>Your Email address</p>
	<p>Your Name</p>
	<p>Main body of email</p>

	<button class="btn btn-default">Submit</button>


	<div class="social-media-container-dark text-center">
		<h4>Follow us on social media</h4>
		<%= render "layouts/social_media_content" %>
	</div>
</div><!-- end .container -->	