<!-- the below displays the subtitle for the page title tag -->
<% content_for(:subtitle) do %>FAQ<% end %>
<!-- end page specific subtitle area -->
<section id="faq-section">
	<h1>Frequently Asked Questions (FAQs)</h1>

	<div id="faqs">
		<div>
			<p class="question">First Question</p>
			<p class="answer">First Answer</p>
		</div>
		<div>
			<p class="question">Second Question</p>
			<p class="answer">Second Answer</p>
		</div>
		<div>
			<p class="question">Other Question</p>
			<p class="answer">Other Answer</p>
		</div>
		<div>
			<p class="question">Other Question</p>
			<p class="answer">Other Answer</p>
		</div>
		<div>
			<p class="question">Other Question</p>
			<p class="answer">Other Answer</p>
		</div>
	</div>
</section><!-- end .faw-section -->