<!-- the below displays the subtitle for the page title tag -->
<% content_for(:subtitle) do %>FAQ<% end %>
<!-- end page specific subtitle area -->
<section id="faq-section">
	<h1>Frequently Asked Questions (FAQs)</h1>

	<div id="faqs">
		<div>
			<p class="question">Where can I post properties?</p>
			<p class="answer">Currently we have support for properties located in the USA. We are soon hoping to expand to Canada, then to the rest of the world as feedback suggests.</p>
			<div class="text-center">
				<%= link_to 'Give Feedback', customer_input_path, class: "btn btn-default btn-md" %>
			</div><!-- end .btn div -->
		</div>
		<div>
			<p class="question">Second Question</p>
			<p class="answer">Second Answer</p>
		</div>
		<div>
			<p class="question">Other Question</p>
			<p class="answer">Other Answer</p>
		</div>
		<div>
			<p class="question">Other Question</p>
			<p class="answer">Other Answer</p>
		</div>
		<div>
			<p class="question">Other Question</p>
			<p class="answer">Other Answer</p>
		</div>
	</div>
</section><!-- end .faw-section -->