<!-- the below displays the subtitle for the page title tag -->
<% content_for(:subtitle) do %>Home<% end %>
<!-- end page specific subtitle area -->
<div class="container">
	<% if user_signed_in? %>
		<h1>Welcome back, <%= current_user.name %>.<br>
		You have [insert #alerts and messages].</h1>
	<% end %> 
	<h1 class="text-left">Matchmaking for Real Estate Investors</h1>
	<p class="tagline">Our matchmaking is manual for now. We are seeking seed investment to automate this process.</p>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="box well">
				<h2>Request a Property</h2>
				<br>
				<p>Let us know what your buying criteria are, and we'll match it behind-the-scenes with our list of investment property deals.</p>
				<br>
				<div class="text-center">
					<%= link_to 'Find Properties', buying_criteria_manual_path, class: "btn btn-default btn-md" %>
				</div><!-- end button -->	
				<br>			
			</div><!-- end .box -->
		</div><!-- end .col -->
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="box well">
				<h2>Input a Property</h2>
				<br>
				<p>Let us know what the details are of your property and we will match it behind-the-scenes with our list of investor buyers.</p>
				<br>
				<div class="text-center">
					<%= link_to 'Post a Property', new_property_manual_path, class: "btn btn-default btn-md" %>
				</div><!-- end button -->
				<br>
			</div><!-- end .box -->			
		</div><!-- end .col -->
	</div><!-- end .row -->
</div><!-- end .container -->