<!-- the below displays the subtitle for the page title tag -->
<% content_for(:subtitle) do %>My Account<% end %>
<!-- end page specific subtitle area -->

<h1>My Account</h1>

<p>You are logged in as <%= current_user.username %>.</p>

<h3>Your Matches</h3>
<p>todo list of matches</p>
<button>Update</button>

<h3>Your properties</h3>
<p>property information</p>
<button>New Property</button>
<button>Edit Properties</button>

<h3>Your buying criteria</h3>
<p>buying criteria</p>
<button>New Criteria</button>
<button>Edit List</button>

<h3>Connections Made</h3>
<p>todo have an area for them to discuss with each other. In-app messaging or user to user info.</p>

<section class="button-opetions-area">
	<button class="btn btn-warning btn-md">Sign Out</button><br>
	<button class="btn btn-danger btn-md">Delete Account</button>
</section><!-- end .button-options-area -->