<!-- the below displays the subtitle for the page title tag -->
<% content_for(:subtitle) do %>New Criteria<% end %>
<!-- end page specific subtitle area -->

<h1>Page to choose what type of data user wants to create.</h1>