<div class="container">
	<h1>Send Us Your Property Details</h1>
	<p>We do everything manuall right now, so please send us an email with the following:</p>

	<ul>
		<li>Property Address</li>
	</ul>

	<div class="text-right">
		<%= link_to 'Back to Home', root_path, class: "btn btn-default btn-md" %>
	</div><!-- end button -->				

</div><!-- end .container -->