<!-- the below displays the subtitle for the page title tag -->
<% content_for(:subtitle) do %>New Criteria<% end %>
<!-- end page specific subtitle area -->

<h1>Page to choose what type of data user wants to create.</h1>

<%= link_to 'New Property', new_property_path %>
or
<%= link_to 'New Property Search', new_buying_criterium_path %>
or
<%= link_to 'My Existing Search Criteria', buying_criteria_path %>

[todo content_for also include this as a sidebar that is accessible on many pages]