<!-- this is a place to put code that we don't want to use yet but wat to keep because it may be useful later. There is no route for this page eiher. -->


	<br>
		<h4>
			 or <%= link_to 'Access Your Account', my_account_path, class: 'btn btn-default btn-md' %> to view your matches.
		</h4>
	<% end %>


	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<section id="root-matches">
				<% if user_signed_in? %>
					<h2>You have [todo # of new matches] new matches.</h2>
					<p>List matches here in a ruby block with summaries of matches.</p>
				<% else %>
					<h2>How we match buyers with properties:</h2>
					<p>TODO explanation of how the app works.</p>
					<%= link_to 'Search Properties', new_buying_criterium_path %> TODO Input field here.
				<% end %>
			</section><!-- end #root-matches -->
		</div><!-- end .col-md-6 -->
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<section id="root-post-property">
				<h2>Advertise a Property</h2>

				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="text-center">
					<%= link_to 'List a Property for Free', new_property_path, class: "btn btn-default btn-md" %>
				</div><!-- end button -->
			</section><!-- end #root-post-properties -->
		</div><!-- end .col-md-6 -->
		<% if user_signed_in? %>
		<!-- this will show only if user is signed in -->
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<section id="root-search-properties">

					<h2>Find properties</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<div class="text-center">
						<%= link_to 'Find Properties', buying_criteria_path, class: "btn btn-default btn-md" %>
					</div><!-- end button -->
				</section><!-- end #root-search-properties -->
			</div><!-- end .col-md-6 -->
		<% end %><!-- end show only if user is signed in -->

	</div><!-- end .row -->