/*below is common styling for nav and footer areas*/

header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px 15px;
	overflow: hidden;
	height: 50px;
	background: #303030;
	color: #ddd;
	width: 100%;
	#brand {
		max-width: 100px;
		font-size: 24px;
	}
	a {
		color: #ddd;
		text-decoration: none;
	}
	a:hover {
		color: white;
	}
	#main-navigation {
		position: fixed;
		top: 0;
		right: 0;
		ul li {
			list-style: none;
			float: left;
			padding: 10px;
		}
		ul li:hover {
			color: white;
		}
	} /* end #main-navigation all screen sizes */
}

/*below is to get main navigation to collapse on all screen sizes*/
@media only screen and (max-width: 767px) {
	#main-navigation {
		#brand {

		}
		position: fixed !important;
		ul {
			position: fixed;
			right: 0;
			top: 0;
			margin-right: 15px;
			li {
				display: inline;
				width: 100%;
				color: #ddd;
				text-align: right;
				background: #303030;
			}
		}
	}
}


main {
	position: relative;
	top: 50px;
	left: 0px;
}

footer {
	background: #303030;
	position: relative;
	top: 50px;
	left: 0px;
	width: 100%;
	padding: 30px;
	color: #ddd;
	text-align: center;
	span:hover {
		color: white;
		transform: ease-in 0.1s;
	}
	a {
		color: #ddd;
		text-decoration: none;
	}
	a:hover {
		color: white;
		transform: ease-in 0.1s;
	}

}