/*insert common element styling below*/


.logo-tiny img {
	max-width: 80px;
	margin: 0 auto;
	padding: 0px;
}

.logo-medium {

}

.logo-large {

}

// below is for nav brand area on upper left of nav, links to root_path
#nav-brand {
	#brand {
		position: relative;
		top: -25px;
		left: 0px;
	}
	#logo-nav {
		position: relative;
		top: -14px;
		left: -2px;
		max-width: 45px;
	}
}

.social-icon {
	padding: 15px;
	font-size: 20px;
}