/*insert common element styling below*/
$brand-color: green;

a {
	color: $brand-color;
	text-decoration: none;
}
a:hover {
	color: lighten($brand-color, 20%);
}

body {
	font-family: Arial;
	font-weight: 300;
	padding: 0;
	margin: 0;
}
/* remove ugly default browser styling */

button {
	outline: none;
}
button:hover {
	outline: none;
}
footer {
	background: #303030;
	position: relative;
	top: 50px;
	left: 0px;
	width: 100%;
	padding: 30px;
	color: #ddd;
	text-align: center;
	span:hover {
		color: white;
		transform: ease-in 0.1s;
	}
	a {
		color: #ddd;
		text-decoration: none;
	}
	a:hover {
		color: white;
		transform: ease-in 0.1s;
		text-decoration: none;
	}

}


h1 {
	text-align: center;
	font-family: Arial;
	font-weight: 300;
}
h2 {
	color: $brand-color;
}
h3 {
	font-size: 24px;
	text-align: center;
}
h4, h5, h6 {
	text-align: center;
}


label:after {
	content: ":";
}

.logo-tiny img {
	max-width: 80px;
	margin: 0 auto;
	padding: 0px;
}

.logo-medium {

}

.logo-large {

}
main {
	z-index: 5;
	padding: 30px 0 30px 0 !important;
	margin: 0;
	position: relative;
	top: 50px;
	left: 0px;
	section {
		z-index: 5;
	}
}

.note {
	text-align: right;
}
.row {
	/*width: 100%;*/
}
section {
	/*padding: 20px;*/

}

.social-media-container-dark a {
	color: black;
	text-decoration: none;
	list-style: none;
}

.social-icon {
	padding: 15px;
	font-size: 20px;
}
.tagline {
	font-size: 18px;
}




