/*stylesheet for actions under the pages controller*/

#faq-section {
	padding: 40px;
	.answer {
		position: relative;
		left: 30px;
	}
	div {
		margin-bottom: 30px;
	}
	p {
		font-size: 18px;
	}
	.question {
		font-weight: bold;
	}
}