

.property-preview {
	border: 1px solid red;
	padding: 20px;
	background-color: #eee;
}

#property-deal-title {
	text-align: center;
}

.property-all-info {

}

#property-address-details {

}

#property-other-details {

}

#property-form {
	width: 100%;
	section {
		/*border: 1px solid red;*/
		padding: 20px;
		width: 100%;
	}
	section:nth-child(2n) {
		background-color: #eee;
	}
}