

.property-preview {
	border: 1px solid red;
	padding: 20px;
}

#property-deal-title {
	text-align: center;
}

.property-all-info {

}

#property-address-details {

}

#property-other-details {

}

#property-form {
	section {
		border: 1px solid red;
		padding: 20px;
	}
}