

/* proeprties pages */
#properties-new {
	width: 100%;
}

#property-form {
	max-width: 700px;
	margin: 0 auto;
}


/* other property styles */

.property-preview {
	border: 1px solid red;
	padding: 20px;
	background-color: #eee;
}

#property-deal-title {
	text-align: center;
}

.property-all-info {

}

#property-address-details {

}

#property-other-details {

}

#properties-new {
	width: 100%;
	section {
		/*border: 1px solid red;*/
		padding: 20px;
		width: 100%;
	}
	section:nth-child(2n +1) {
		/*background-color: #eee;*/
	}
}