

.flash-messages-container {
	background-color: #ddd;
	color: white;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	max-width: 500px;
	padding: 15px;
	border-radius: 10px;
}

#registrations-new {
	padding: 40px;
}