<footer>
	<div class="row">
		<div class="col-md-6">

		</div>
		<div class="col-md-6">
			<%= render 'layouts/social_media_container' %>
		</div>
		<div class="col-md-6">

		</div>
	</div><!-- end .row -->
</footer>

