<footer>
	<div class="row">

		<div class="col-md-12">
			<p class="logo-tiny"><%= image_tag('Property-Investor-Logo-white.png') %></p>
			<p><%= link_to 'PropertyInvestor.io', root_path %></p>
			<p><%= link_to 'Input or Search for Properties', root_path %></p>
			<p><%= link_to 'Contact Us', contact_path %></p>
			<!-- input here a give feedback page and link it to customer input path -->
		</div>

	</div><!-- end .row -->
</footer>

