
<header>

	<p id="logo-brand">Brand</p>

	<nav id="main-navigation">
		<ul>
			<li>Post a Property</li>
			<li>Search Properties</li>
			<li>My Account</li>
			<!-- todo if user not signed in -->
			<li>Log In | Create Account</li>
			<!-- todo if user signed in  -->
			<li>Sign Out</li>
		</ul>
	</nav>
</header>