<!DOCTYPE html>
<html>
<head>
  <title>PropertyInvestor.io</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- insert header here -->
	<!-- insert main beginning here -->
<%= yield %>
	<!-- insert main ending here -->
	<!-- insert footer here -->

</body>
</html>
